.section-paragraph_header-subtitle{
font-size: 30px;
line-height: 36px;
max-width: 640px;
margin: 32px auto 64px auto;
text-align: center;
}
@media screen and (max-width: 1024px) {
    .section-paragraph_header-subtitle{
        margin: 32px auto 56px auto;
    }
}


@media screen and (max-width: 680px) {
    .section-paragraph_header-subtitle{
        font-size: 16px;
        line-height: 20px;
        max-width: 720px;
        margin: 16px auto 40px auto;
        padding-left: 16px;
        padding-right: 16px;
    }
}