.lang-button_en {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    vertical-align: middle;
    width: 30px;
    height: 28px;
    }
    .lang-button_en:hover{
        cursor: pointer;
    }
    
    .lang-button:checked+.lang-button_en{
        text-decoration: underline;
    }

    @media screen and (max-width: 660px) {
        .lang-button_en{
            font-size: 18px;
            line-height: 20px;
            width: 22px;
            height: 20px;
       }
    }