.card__card-links-link{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;  
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: opacity ease 0.4s;
}

.card__card-links-link:hover {
   opacity: 0.8;
 }
